* {
    box-sizing: border-box;
}
:root {
    --primary-color: rgb(38, 117, 15);
    background-image: linear-gradient(#eefbf8f1,#eefbf8e8);
    background-image: url(/images/Spongebob.jpg);
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    ;
    font-size: 90%;
    line-height: 2;
    margin-left: 2em;
    margin-right: 2em;
}   
h1 {
    color: var(--primary-color);
    font-size: 200%;
}
h2 {
    color: #e06b0c;
    font-size: 120%;
}
.important { 
    font-weight: bold;
    font-size: 110%;
    color: var(--primary-color);
}
#copyright { 
    font-size: 80%;
}
footer p {
    text-align: right;
    font-size: 80%;
}
header {
    padding-bottom: .10em;
    border-bottom: 2px dashed #eb6f0a;
}
img {
    float: left;
    border: .2rem outset rgb(41, 117, 19);  
    box-shadow: 0 0 2rem rgba(237, 165, 10, 0.521);
    margin-right: 2em;
}
.content-box {
    padding: 1em;
    margin-bottom: 1em;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    background-color: #f5edf2da;
}
main {
    clear:both;
}
a:link { 
    color: rgb(240, 110, 35);
}
a:visited {
    color: rgba(150, 64, 14, 0.692);
}
a:hover,
a:focus {
    color: rgb(229, 158, 117);
}
li:first-child { 
    font-weight: normal;
}
li {
    color: rgb(22, 112, 37);
    font-weight: bold;
    font-style: italic;
    font-size: 90%;
}
li:last-child { 
    font-weight: normal;
}
p {
    color: rgb(8, 120, 27);
}
address {
    color: rgb(41, 117, 19);
}
